<div class="container"></div>
<div class="row">
<h1>Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta
    felis euismod semper. Praesen commodo cursus magna, vel scelerisque nisl consectetur.
Fusce dapibus,tellus ac cursus commodo </p>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>